[Desktop Entry]
Name=Infernal Chaos
Comment=My game
Exec=/home/igor/Projects/Infernal_Chaos/Source/start.sh
Icon=/home/igor/Projects/Infernal_Chaos/Source/Sprites/logo.png
Terminal=False
Type=Application
Categories=Game;
